# Keyboard remapping caps to escape when connecting usbhid device
SUBSYSTEM=="hid", SUBSYSTEMS=="usb", DRIVERS=="usbhid", ACTION=="bind", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/jon/.Xauthority", RUN+="/home/jon/.local/bin/keyboard_setup"
